{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="" method="get">
                    <select name="lang" id="">
                        <option value="js" {% if lang == 'js' %}selected{% endif %}>JavaScript</option>
                        <option value="python" {% if lang == 'python' %}selected{% endif %}>Python</option>
                        <option value="cpp" {% if lang == 'cpp' %}selected{% endif %}>C++</option>
                    </select>
                    <button type="submit">OK</button>
                    <a href="...">сброс фильтра</a>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Язык</th>
                        <th scope="col">Пользователь</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for snippet in snippets %}
                        <tr>
                            <td scope="row">{{ snippet.id }}</td>
                            <td>
                                <a href="{% url 'snippet-detail' snippet.id %}">
                                    {{ snippet.name }}
                                </a>
                                <a href="{% url 'snippet-delete' snippet.id %}">
                                    <i style="color: red" class="fa-sharp fa-solid fa-trash"></i>
                                </a>
                                <a href="{% url 'snippet-edit' snippet.id %}">
                                    <i style="color: blue" class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>{{ snippet.creation_date }}</td>
                            <td>{{ snippet.lang }}</td>
                            <td>{{ snippet.user | is_empty:"Отсутствует" }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: 2</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}